*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
    box-sizing: border-box;
    /*font-size: 62.5%; esto es igual a 10rem*/
}

/*GLOBALES*/
h1{
    font-size: 34px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 22px;
}

/*UTILIDADES*/
.d-block{
    display: block !important;
}

.img-responsive{
    display: block;
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
    object-position: center;
}
.contenedor{
    width: 80%;
    margin: 0 auto;
}
.seccion{
    margin-top: 20px;
}
.font-w{
    font-weight: 300;
}
.text-center{
    text-align: center;
}
/*BOTONES*/
.btn{
    display: inline-block;
    font-size: 18pxs;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin-top: 20px;
}

.btn-amarillo{
    background:#e08709;
}
.btn-verde{
    background: #71b100;
}

/*HEADER*/
.site-header.inicio{
  background: url(../img/header.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;  
}

.contenedor-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.contenedor h1{
    color: #fff;
    padding-bottom: 20px;
    max-width: 500px;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.navegacion a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}
.navegacion a:last-of-type{
    margin-right: 0;
}
.navegacion a:hover{
    color: #71b100;
}

.icono-nosotros{
    display: flex;
    justify-content: space-between;
}

.icono{
    flex-basis: calc( 33.3% - 10px);
    text-align: center;
}

.icono h3{
    text-transform: uppercase;
}

.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
}
.anuncios{
    flex-basis: calc(33.3% - 10px);
    border: 1px solid #ccc;
    background: #f5f5f5;
}
.contenido-anuncio{
    padding: 20px;
}
.precio{
    color: #71b100;
    font-weight: 700;
}
.icono-caracteristicas{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.icono-caracteristicas li {
    display: flex;
}
.ver-todas{
    text-align: right;
}
/*CONTACTANOS*/
.imagen-bg{
    margin-top: 20px;
    background: url(../img/encuentra.jpg);
    background-position: center center;
    background-attachment: fixed;
    height: 400px;
    display: flex;
    align-items: center;
    
}
.contenido-contacto{
    color: #fff;
}

.contenido-contacto p{
    font-size: 20px;
    padding: 10px 0;
}